body {
	background: #2A2A2A;
	color: #FFF;
}

#container {
	max-width: 800px;
	margin: auto;
	padding: 35px;
}

textarea {
	height: 250px;
	border: 1px solid #000000;
	padding: 10px;
}

button {
	color: white;
	border-radius: 4px;
	background: rgb(28, 184, 65);
	cursor: pointer;
	margin-top: 15px;
	font-size: 95%;
	padding: 5 10px;
	float: left;
}

h1 {
	font-family: 'Roboto', sans-serif;
}
